.cm-editor.ͼ1.ͼ3.ͼ4.ͼo {
    outline: none;
}

.ͼ1.cm-editor.cm-focused.ͼ2.ͼ3.ͼ4 {
    outline: none;
}

#editorContainer {
    width: 50%;
    height: 100vh;
    position: absolute;
    overflow-x: scroll;
    overflow-y: scroll;
}